<div id="about-me-box">
	<div class="label">
		About Me
	</div>
	
	<div class="body">
		<p>
		My name is Jaclyn. I am studying Biochemistry and Computer Science at Northern Michigan University. 
		</p>
		<p>
		I've taught myself Ruby on Rails, HTML, and CSS to build this project. 
		</p>
	</div>
</div>

<div id="latest-box">
	<div class="label">
		Latest Post
	</div>
	
	<div class="article">
		<% if @articles.empty? %>
			There are no articles. <br />
		<% else %>
			<div class="title">
				<%= link_to @latest_article.title, @latest_article %><br />
			</div>
	
			<div class="preview">
				<%= truncate(@latest_article.body.gsub(/<.*?>/,''), 309) %>
			</div>
		<% end %>
	</div>
</div>

<div id="recent-box">
	<div class="label">
		Recent Articles
	</div>
	
	<div class="article">
		<% if @articles.length < 2 %>
			There are no recent articles. <br />
		<% else %>
			<% for recent_article in @recent_articles %>
				<div class="entry">
					<div class="title">
						<%= link_to recent_article.title, recent_article %><br />
					</div>
			
					<div class="preview">
						<%= truncate(recent_article.body.gsub(/<.*?>/,''), 70) %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
