<div id="blog-display">
	<div class="label">
		Viewing articles in "<%= @category.category_name %>"
	</div>

	<div class="article">
		<div id="blog">
			<% if @published_articles.empty? %>
				There are no articles in this category yet!
			<% end %>
			
			<% for article in @published_articles.reverse %>
			
				<div class="entry">
					<div class="title">
						<%= link_to article.title, article %>
					</div>
					<div class="preview">
						<%= truncate(article.body.gsub(/<.*?>/,''), 300) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

